body {
  font-family: 'Judson', sans-serif;
  margin: 0;
}

.title {
  font-family: 'archivo black';
  font-size: 94px;
  color: black;
}
  .box {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  #background-image {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    /* object-fit: cover; */
    z-index: -2;
  }
  
  .logo {
  width: 40%;
  display: flex;
  }
  
  .logo_box {
    display: flex;
    justify-content: center;
    padding-top: 70px;
  }

  .header {
    color: black;
    font-size: 15pt;
    margin: auto;
    width: 70%;
    text-align: left;
    /* padding-top: 70px; */
  }

  .welcome {
    bottom: 0;
    font-size: 20pt;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
  }
  
  .homepage-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .contact-form {
    display: flex;
    padding: 15px;
    /* padding-bottom: 15px; */
    text-align: center;
    justify-content: center;
    font-family: archivo black;
    color: black;
    /* background-color: rgb(168, 50, 117, 0.8); */
    font-size: 18px;
    width: 200px;
    margin: auto;
    border: 2px solid black;
    /* border-radius: 10px; */
  }
  
/* 
  ul.topnavblack {
    padding: 0px 0px 0px 0px;
    align-items: baseline;
    text-align: center;
    justify-content: space-between;
    background-color: black;
    margin: 0;
    padding: 15px 0px 15px 0px;
  } */

/* .topnav a {
  color: darkmagenta;
  text-decoration: none;
  font-weight: bold;
}

li.topnav {
  display: inline;
  padding: 10px 5vw 10px 5vw;
  }

li.topnav a:hover {
  color: darkmagenta(228, 204, 224);
  font-weight: lighter;
  } */

 
.topnavblack a {
  color: black;
  text-decoration: none;
  font-weight: lighter;
  font-family: archivo black;
  }
  
li.topnavblack {
    display: inline-block;
    margin: 10px 6% 10px 6%;
  }

li.topnav {
  display: inline;
  padding: 10px 5vw 10px 5vw;
  }

li.topnav a:hover {
    color: lime;
    font-weight: lighter;
    }
  
.topnavblack {
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
}
  
ul.topnavblack {
  padding: 10px 0px 10px 0px;
  align-items: baseline;
  text-align: center;
  justify-content: space-between;
  background-color: white;
}

li.topnavblack {
    display: inline-block;
    margin: 10px 4% 10px 4%;
  }

a:link {
  color:black;
  text-decoration: none;
  font-weight: bolder;
}

/* a:visited {
  color: whitesmoke;
} */

/* a:hover {
  color:darkmagenta;
} */

h1 {
  font-family: inherit;
}